body {
    font-size: 13pt;
    font-family: "Merriweather";

    margin: 0 auto;
    max-width: 800px;
}

h1 a { text-decoration: none; }
h1:hover a { text-decoration: underline; }

code { background-color: #f5f5f5; }

li { line-height: 1.3em; }
li > p { margin: 0; }