/* inspired by http://clairelegrand.tumblr.com/post/77700679900/the-importance-of-the-unlikable-heroin */

body {
    background-color: #f6f6ea;
}

#header {
    text-align: center;
}

#me {
    border-radius: 100px;
}

#nav ul {
    list-style-type: none;
    margin: 1em 2em;
    padding: 0;
}

#nav li {
    display: inline;
    margin-right: 1em;
    padding: 0.5em 2em;
    color: #e1cc2c;
}

@media (max-width: 700px) {
    #nav li {
	display: inherit;
	margin: 0.5em 1em;
    }
}

#nav li:hover {
    background-color: rgba(102, 102, 102, 1);
}

#content, #nav li {
    background-color: #fbfaf9;
}

#content {
    clear: both;
    max-width: 80%;
    margin: 2em auto;
    padding: 1.5em;
}