<!doctype html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="simple.css" />
  </head>

  <body>
    <nav id="nav">
      <a href=".">Index</a>
      <!--<ul>
        <li><a href="../introduction.html">Einführung</a></li>
        <li><a href="../more-html.html">Mehr HTML</a></li>
        <li><a href="../more-css.html">Mehr CSS</a></li>
        <li><a href="../publishing.html">Veröffentlichen</a></li>
      </ul>-->
    </nav>

    {{page.content | markdownify}}
  </body>
</html>
